*{
	padding: 0px;
}
img{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/*网页头部*/
#header{
	width: 100%;
}
#logo{
	width: 140px;
	height: 70px;
	margin-top: 1%;
	margin-bottom: 1%;
	position: relative;
	left: 10%;
	float: left;
}
#find{
	width: 400px;
	position: relative;
	float: left;
	margin-left: 25%;
	margin-top: 3%;
}
/*定位*/
#locate{
	float: left;
	width: 90px;
	margin-top: 3%;
	margin-left: 3%;
	color: #0D7FFC;
}
#address{
	margin-top: 10%;
	float: right;
	width: 60px;
	color: #3280fc;
}
/*个人中心*/
#myPhoto{
	margin-top: 2%;
	margin-right: 10%;
	float: right;
	width: 50px;
	height: 50px;
}
#myPopover{
	width: 140px;
	color: red;
	display: none;
	float: right;
	position: absolute;
	left: 83%;
	top: 16%;
}
.menu-li{
	width: 100%;
	line-height: 25px;
	padding: 0px;
	list-style-type: none;
	width: 100%;
}
/*导航条*/
#navigation{
	float: left;
	width: 100%;
	overflow: auto;
	height: 40px;
	padding-left: 120px;
	background-color: #EDEEF0;
	border-top: 1px solid #DEDDDE;
}
.nav-a:hover,.nav-a:focus{
	color: #3280fc;
  border-bottom-color: #3280fc;
}