#one{            
	position:absolute;                     
	top:35%;            
	left:50%;  
	width:400px;            
	height:550px;            
	margin-top:-130px;           
	margin-left:-180px;           
	background:#FFFFE0; 
	border-radius:25px;
	}
#two_ifr{            
      
	width:400px;            
	height:350px; 
	border-radius:25px;           
	background-color:;
	}
#three_ifr{                    
	width:355px;            
	height:50px;            
	}
#four_ifr{                  
	width:400px;            
	height:450px; 
	border-radius:25px;           
	background-color:;
	}	
#logo{
	width:50px; 
	height:70px; 
	margin-top:50px; 
	margin-left:160px; 
	background-color:black;  
}	
#input{
	width:300px; 
	height:270px; 
	margin-top:30px; 
	margin-left:40px; 
	background-color:;  
}

#input_size{
	width:300px;
	height:40px;
	font-size: 20px;
	color:#C5C1AA;
}
#input_size1{
	width:150px;
	height:40px;
	font-size: 20px;
	color:#C5C1AA;
		
}
#span_position{
	width:100px;
	height:40px;
	margin-left:30px;
	display: inline-block;
	vertical-align: middle;
		
}
#input_size2{
	width:300px;
	height:50px;
	background-color:;  	
}
.input_position{
	width:300px;
	height:40px;
	font-size: 18px;
	font-weight:bold;
	color:#FFFFE0;
	border-radius:10px;
	margin-left:0px;
	background-color:#1E90FF;  
}
#fond_size{
	width:150px;
	height:35px;
	font-size: 15px;
}
#fond_style{
	width:150px;
	height:35px;
	margin-top:20px;
	margin-left:200px;
	font-size: 17px;
	color:#8B8970;
	font-family: SimSun;
	
	
}
a{
	text-decoration: none;
	color:#1C86EE;
}
#fond_style2{
	width:280px;
	margin-top:px;
	margin-left:100px;
	font-size: 18px;
	font-weight:bold;
	font-family: SimSun; 
}
#qq_position{
	margin-top:80px:
	margin-left:200px;
}


/*banner的css样式*/
#banner1{
	width: 100%;
	height:80px;
	margin-top:-19px;
	background-color:#F8F8FF; 
}
#banner{
	position:absolute;                     
	top:1%;            
	left:9%;
	width: 1250px;
	height:80px;
	background-color:#F8F8FF; 
}
#banner_logo{
	width:150px ;
	height:70px ;
	float:left;
	margin-top:5px;
	margin-left:50px;
	margin-bottom:100px;
	background-color:;
}
#banner_seek{
	float:left;
	margin-left:100px;
	margin-top:-3px;
}
#banner_input_size{
	width: 250px;
	height:50px;
	font-size: 17px;
	font-weight:bold;
	font-family: YouYuan;
	border-width:1px;
	border-radius:8px 0px 0px 8px;
	margin-top:20px;
}
#banner_button{
	float:left;
}
.banner_button_style{
	width: 60px;
	height:55px;
	border-width:1px;
	margin-top:17px;
	font-size: 18px;
	font-weight:bold;
	color:#FFFFE0;
	border-width:0px;
	border-radius:0px 8px 8px 0;
	background-color:#1E90FF; 
	cursor:pointer ;
}
#banner_logo_address{
	width: 40px;
	height:55px;
	float:left;
	margin-top:25px;
	margin-left:120px;
}
#banner_address_position{
	width:200px;
	height:50px;
	float:left;
	margin-top:35px;
	font-size: 18px;
	font-weight:bold;
	font-family: YouYuan;
	color:#CCCCCC;
}
.banner_personcenter_position{
	width: 40px;
	height:55px;
	float:left;
	margin-top:25px;
}
#banner_aderss_button{
	width:75px;
	height:20px;
	font-size: 13px;
	font-family: YouYuan;
	border-width:0px;
	border-radius:5px;
	cursor:pointer ;
}
#banner_login{
	width:200px;
	height:50px;
	float:left;
	margin-top:35px;
	margin-left:20px;
}
#banner_register_stype{
	font-size: 17px;
	font-weight:bold;
	font-family: YouYuan;
	color:#CCCCCC;
}
#banner_login_stype{
	font-size: 17px;
	font-weight:bold;
	font-family: YouYuan;
	color:#CCCCCC;
}
        #d1 {
            width: 50px;
            height: 50px;
            background-color: blue;
        }
        
        #d2 {
            width: 300px;
            height: 300px;
            background-color: red;
            display: none;
        }

